/**
 * Header
 * *****************************************
 */
#header{
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:9999;
    background: rgba(0, 0, 0, 0.3);
    border-top:4px solid rgba(0, 0, 0, 0.4);
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

#header .container {
    padding:0
}

#header h1{
    float:left;
    margin-top:12px;
    margin-bottom:15px
}
#header h1 a{
    font-family:"Open Sans","Helvetica",Helvetica,Arial,sans-serif;
    font-size:30px;
    text-rendering: optimizelegibility;
    text-decoration:none;
    font-style: normal;
    font-weight: bold;
    color:#fff
}
#header h1 a span{
    font-weight: normal
}

#header nav{
    display:table;
    float:right
}
#header nav li{
    float:left;
    border-top:4px solid rgba(0, 0, 0, 0.5);
    position:relative;
    top:-4px;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
#header nav li a{
    display:block;
    padding:20px 15px 16px;
    color:rgba(255, 255, 255, 0.7);
    text-decoration:none
}
#header nav li.active,
#header nav li:hover{
    border-top:4px solid rgba(255, 255, 255, 0.8)!important;
}
#header nav li.active a,
#header nav li:hover a{
    color:#fff
}


/**
 * Page
 * *****************************************
 */
.page .container{
    padding-top:150px;
    line-height:1.5;
    color:rgba(255,255,255,0.75)
}
.page .container h2{
    font-size:50px;
    text-align:center;
    font-weight:normal;
    color:#fff;
    margin-bottom:100px;
}
.page .container p {
    font-size:20px;
    margin-bottom:20px
}
.page .container strong {
    font-weight:normal;
    color:#fff
}
.page .container a {
    color:rgba(255,255,255,0.75)
}
.page .container a:hover {
    color:#fff
}


/**
 * Home
 * *****************************************
 */
#home{
    background:#706150;
}
#home .qrcode {
    margin:50px auto;
    width:256px;
    height:256px
}
#home .container p {
    text-align:center
}

/**
 * Intro
 * *****************************************
 */
#intro {
    background:#34495E
}


/**
 * Info
 * *****************************************
 */
#info {
    background:#405626
}


/**
 * Fork
 * *****************************************
 */
#forkme {
    background:#A43304
}
#forkme .container .author {
    margin-top:100px;
    background:rgba(255,255,255,0.05);
    padding:10px;
    border:1px solid rgba(255,255,255,0.1);
}
#forkme .container .author p {
    margin:20px 0;
    padding:0
}
#forkme .container .author img {
    float:left;
    margin-right:30px;
    box-shadow:0 0 5px #333;
}



@media screen and (max-width:1000px) {
    #header h1 {
        float:none;
        text-align:center
    }
    #header nav {
        float:none;
        margin:0 auto
    }
}
